<!-- wp:template-part {
    "slug": "layout-header",
    "tagName": "header"
} /-->

<!-- wp:group {
    "layout": {
        "type": "flex",
        "justifyContent": "center",
        "orientation":"vertical"
    }
} -->
    <div class="wp-block-group article article--no-content">
        <!-- wp:heading {
            "level": 1
        } -->
            <h1>404</h1>
        <!-- /wp:heading -->
        <!-- wp:paragraph -->
            <p>Nothing here!</p>
        <!-- /wp:paragraph -->
    </div>
<!-- /wp:group -->

<!-- wp:template-part {
    "slug": "layout-footer",
    "tagName": "footer"
} /-->
