<!-- wp:template-part {
    "slug": "layout-header",
    "tagName": "header"
} /-->

<!-- wp:group -->
    <div class="wp-block-group article">
        <!-- wp:template-part {
            "slug": "page-content",
            "tagName": "article",
            "className": "article__content"
        } /-->  
        <!-- wp:pattern {
            "slug": "wordpress-block-theme/latest-posts",
            "tagName": "section",
            "className": "article__latest-posts"
        } /-->
    </div>
<!-- /wp:group -->

<!-- wp:template-part {
    "slug": "layout-footer",
    "tagName": "footer"
} /-->
